.main{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background: #f1f2f5;
}

.shape{
    position: absolute;
    border: 1px solid transparent;
}

.menuBox{
    position: absolute;
    width: 80px;
    background: #ffffff;
    z-index: 99999999999999;
}

.menuItem{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #f1f2f5;
}

.menuItem:hover{
    background: #24a5ff;
    color: #ffffff;
}

.active{
    border: 1px solid #24a5ff;
}

.shapePoint{
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #24a5ff;
}

.auxiliary_horizontal_line{
    position: absolute;
    width: 100vw;
    height: 1px;
    left: 0;
    top: 0;
    /* background: #24a5ff; */
    background-image: linear-gradient(to right,#24a5ff 5px,transparent 0,transparent);
    background-size: 15px 15px;
    background-repeat: repeat;
}

.auxiliary_vertical_line{
    position: absolute;
    width: 1px;
    height: 100vh;
    left: 0;
    top: 0;
    /* background: #24a5ff; */
    background-image: linear-gradient(to bottom,#24a5ff 5px,transparent 0,transparent);
    background-size: 15px 15px;
    background-repeat: repeat;
}